*,*::before,*::after {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

:root {
    --color-primary: rgb(68,138,255);

    --positive: #ffffff;
    --positive-tanned: #efefef;

    --negative: #000000;
    --negative-tanned: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: rgb(35, 46, 199);
    
        --negative: #ffffff;
        --negative-tanned: #efefef;
    
        --positive: #000000;
        --positive-tanned: #0f0f0f;
    }
    a:link, a:visited {
        color: lightblue;
    }
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--positive);
    color: var(--negative-tanned)
}

main {
    padding: 2rem 1rem;
}

input, textarea, button, .button {
    border: none;
    background-color: var(--positive-tanned);
    color: currentColor;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: inherit;
    margin: 1rem;
    display: flex;
}

.accent {
    background-color: var(--color-primary);
    color: var(--positive);
    padding: 1rem 3rem;
}

h1 {
    font-size: 2rem;
}

hr {
    width: 100%;
}

p {
    word-break: break-word;
    margin: 0;
}

section {
    margin-bottom: 2rem;
}

.form_step {
    visibility: hidden;
    display: none;
    flex-direction: column;
}

.form_step.shown {
    visibility: visible;
    display: flex;
}

img {
    max-width: 100%;
}


span a, ul a, ol a {
    text-decoration: none;
}


.form_controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.listitem {
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--tanned);
    color: currentColor;
}

.listitem > div { 
    display: flex;
    align-items: center;
}

.listitem > div:first-child {
    flex-direction: column;
    align-items: flex-start;
}

.listitem > div:last-child {
    gap: 0.5rem;
}

.layout .card {
    margin-bottom: 2rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    /*background: #222;*/
    min-height: 0;
}

.card > .mdl-card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout .mdl-card__title,
.layout .mdl-card__supporting-text {
    color: inherit;
}

.icon_chip span {
    padding: 0 3px;
}

.page-content {
    padding: 4rem;
}
.mdl-snackbar {
    z-index: 100;
}

@media only screen and (min-width: 50em){
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

form {
    z-index: 0;
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 5rem;
    z-index: 3;
    border-top: 1px solid gray;
    color: var(--negative-tanned);
    background-color: var(--positive);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-blend-mode: normal;
    mix-blend-mode: normal;
}

nav a {
    height: 100%;
    margin: 0;
    width: 100%;
    min-width: unset;
    color: inherit;
    color: currentColor;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#switchpage {
    display: flex;
}

#switchpage > div {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

#switchpage button {
    cursor: pointer;
}


.chip {
    display: inline-flex;
    align-items: center;
    background-color: var(--positive-tanned);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    text-decoration: none;
    color: currentcolor;
}

.hidden {
    visibility: hidden;
    display: none;
}

.textfield {
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
}