html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

}

section {
    margin-bottom: 2rem;
}


span a {
    text-decoration: none;
    color: currentColor;
}


.mdl-list__item, .mdl-list__item-text-body {
    color: inherit;
}

.mdl-list__item .fixicons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mdl-textfield__label {
    /*color: #ddd;*/
}

.nodecoration {
    text-decoration: none;
}

fieldset[disabled] .mdl-textfield .mdl-textfield__label, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
    /*color: #999;*/
}

.layout .card {
    margin-bottom: 2rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    /*background: #222;*/
    min-height: 0;
}

.card > .mdl-card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout .mdl-card__title,
.layout .mdl-card__supporting-text {
    color: inherit;
}

.icon_chip span {
    padding: 0 3px;
}

.page-content {
    padding: 4rem;
}

.hidden {
    visibility: hidden;
    display: none;
}