<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Micronear</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/style.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="description" content="Micronation list & nearby micronation finder">
    <meta property="og:description" content="Micronation list & nearby micronation finder" />
    <meta property="og:title" content="Micronear" />
    <meta property="og:type" content="app" />
    <meta property="og:url" content="https://micronear.cupertinoalliance.ca" />
    <meta property="og:image" content="https://micronear.cupertinoalliance.ca/images/icon_1.png" />
    <meta name="theme-color" content="#448AFF">
    <script>
      window.onerror = function (errorMsg, url, lineNumber) {
        alert(`${errorMsg} at ${url}:${lineNumber}`);
      };
    </script>
    <script src="/scripts/core.js" type="module"></script>
</head>
<body>

<main>
  {{content}}
</main>

  <nav>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/index">
      <div>
        <i class="material-icons">search</i>
      </div>
    </a>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/find">
      <div>
        <i class="material-icons">explore</i>
      </div>
    </a>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/add">
      <div>
        <i class="material-icons">add_location_alt</i>
      </div>
    </a>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/articles">
      <div>
        <i class="material-icons">feed</i>
      </div>
    </a>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/about">
      <div>
        <i class="material-icons">settings_applications</i>
      </div>
    </a>
  </nav>

</main>
</div>

</body>
</html>
